---
---

@import "{{ site.theme }}";

@media only screen and (max-width: 960px) {
	.footercontent {
		background-color: white;
		position: absolute;
		bottom: 10px;
	}
}

#content {
	height: auto;
}

header h1 {
	font-size: 33px;
}

a small {
	font-size: 10px;
}

.leftlist {
	position: relative;
	float: left;
	left: 2%;
	width: 47%;
}
.rightlist {
	position: relative;
	float: right;
	right: 2%;
	width: 47%;
}
.buttons {
	text-align: center;
	margin-bottom: 10px;
}

button.downloadbutton {
	float: right;
	width: 100px;
	margin-left: -127px;

	background-color: #a2c437;
	color: white;
	border: none;
}

.downloadbutton:hover {
	filter: brightness(75%);
}