---
---

@import "{{ site.theme }}";

.maincontent p {
	color: red;
}

a small {
	font-size: 10px;
}

.v-center {
	min-height:200px;
	display: flex;
	justify-content:center;
	flex-flow: column wrap;
}