---
---

@import "{{ site.theme }}";

.maincontent p {
	color: red;
}

header a {
	width: 100%;
}

a small {
	font-size: 10px;
}

.leftlist {
	position: relative;
	float: left;
	left: 2%;
	width: 47%;
}
.rightlist {
	position: relative;
	float: right;
	right: 2%;
	width: 47%;
}
.buttons {
	text-align: center;
	margin-bottom: 10px;
}